/* news.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news {
    height: auto;
    width: 80%;
    margin: 15vh auto;
    box-shadow: 0px 0px 5px rgb(39, 37, 37);
    display: flex;
    flex-wrap: wrap;
}

.news input[type="radio"] {
    display: none;
}

.news label {
    background-color: #09152b;
    color: white;
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    padding: 1vh 2vw;
    margin-right: 1vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.news input[type="radio"]:checked + label {
    background-color: #063977;
    transform: scale(1.05);
}

.news input[type="radio"]:checked + label + .news-dv {
    height: auto;
    padding: 2vh 2vw;
}

.news .news-dv {
    width: 100%;
    overflow: hidden;
    height: 0;
    order: 1;
    transition: height 0.5s ease-in-out, padding 0.3s ease-in-out;
}

details {
    color: white;
    font-size: 3vh;
    background-image: linear-gradient(to bottom right, #09152b, #09152b13);
    width: 100%;
    overflow: hidden;
    margin-top: 2vh;
    transition: max-height 0.5s ease-in-out;
    max-height: 15vh;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

details[open] {
    max-height: 100000px;
}

details .dtl {
    padding: 15vh 3vw;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

details .dtl img {
    height: 25vh;
    width: 25vw;
    object-fit: cover;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: grey;
    font-size: 4vh;
    padding: 2vh 4vw;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

summary img {
    height: 100%;
    width: 20%;
    padding: 0px 1vw;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 100px;
}

summary::after {
    content: "▼";
    transition: transform 0.3s ease-in-out;
}

details[open] summary::after {
    transform: rotate(180deg);
}


@media (max-width: 400px) {
    summary{
        font-size: 2vh;
    }
}

@media (max-width: 300px) {
    
    .news label {
        height: 4vh;
        font-size: 2vh;
        padding: 0.5vh 2vw;
        margin-right: 1vw;
    }

    summary{
        font-size: 1.8vh;
    }

    details .dtl img {
        height: 20vh;
        width: 25vw;
        object-fit: cover;
    }

    details {
        font-size: 1.5vh;
    }

    details .dtl {
        padding: 5vh 3vw;
    }

}